<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap使用網址 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 使用css資料夾裡面index.css資料 -->
    <link rel="stylesheet" href="css/index.css">
    <title>收入支出表</title>
</head>
<body>
    <h1>收入支出</h1>
    <form action="/" method="post" >
        <div >
            <span>事項:</span>
            <input type="text" placeholder="事情" name="matter" maxlength="8">
        </div>
        <div >
            <span>類型:</span>
            <input type="radio" name="yn" style="display: inline" value="just" id="gr">
            <label for="gr" id="gr-label">收入</label>
            <input type="radio" name="yn" style="display: inline" value="burden" id="re">
            <label for="re" id="re-label">支出</label>
        </div>
        <span >
            <label for="yuan" id="yuan-y">金額:</label>
            <input type="number" placeholder="金額" name="yuan" maxlength="5" id="yuan">
            <input type="hidden" name="action" value="add">
            <button>新增</button>
        </span>
            
    </form>
    <div>
        <span>事項</span>
        <span>類型</span>
        <span>金額</span>
        <span>修改事項</span>
        <span>修改金額</span>
    </div>
    
    <% let total = 0%>
        <% for(let c of project) { %>
            <div>
            <%if(c.justburden === '支出') {%>
                <%total -= Math.abs(c.yuan)%>
            <%}if(c.justburden=== '收入') { %>
                <% total += Math.abs(c.yuan) %>
            <%}%>
            <%= c.matter %>
            <%= c.justburden %>
            <form action="/" method="post" style="display: inline">
            <input type="hidden" name="id" value="<%= c.id %>" style="display: none;">
            <input type="hidden" name="action" value="switch">
            <button class="rounded-circle">切換</button>
            </form>
            <%= c.yuan %>
            <form method="POST" action="/?_method=PATCH" style="display: inline; ">
                <input type="hidden" name="_method" value="PATCH">
                <input type="hidden" name="matterId" value="<%= c.id %>" style="display: none;">
                <input type="text" maxlength="8" name="newMatterText" value="<%= c.matter %>">
                <button class="rounded-pill btn btn-success" type="submit">修改事項</button>
            </form>
            <form method="POST" action="/yuan?_method=PATCH" style="display: inline; ">
                <input type="hidden" name="_method" value="PATCH">
                <input type="hidden" name="yuanId" value="<%= c.id %>" style="display: none;">
                <input type="number" maxlength="8" name="newYuan" value="<%= c.yuan %>">
                <button class="rounded-pill btn btn-success" type="submit">修改金額</button>
            </form>
            <form method="POST" action="/?_method=DELETE" style="display: inline;">
                <input type="hidden" name="id" value="<%= c.id %>" style="display: none;">
                <input type="hidden" name="_method" value="DELETE">
                <button class=" btn btn-danger rounded-pill  align-middle" type="submit">刪除</button>
            </form>
            </div>
            <% } %>
            總計<%=total%>
</body>

</html>